/* line 1, shell.scss */
body #shell,
section#shell {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  position: absolute;
  border-radius: 0 0px 8px 8px;
  overflow: hidden;
}

/* line 13, shell.scss */
#alert {
  position: absolute;
  width: calc(100% - 270px);
  top: 90px;
  z-index: 999;
  margin: 0 10px 0 250px;
}

/*#region Splash */
/* line 22, shell.scss */
#splash-page {
  z-index: 99998;
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  background: #fff;
  border-radius: 0 0px 8px 8px;
  -moz-transition: ease-out all 0.3s 0.4s;
  -o-transition: ease-out all 0.3s 0.4s;
  -webkit-transition: ease-out all 0.3s 0.4s;
  transition: ease-out all 0.3s 0.4s;
}

/* line 35, shell.scss */
.loading {
  z-index: 99998;
  width: 100%;
  top: 50%;
  position: absolute;
  text-align: center;
}
/* line 42, shell.scss */
.loading .preloader-text {
  font-size: 16px;
}
/* line 45, shell.scss */
.loading .preloader {
  background: url("../assets/images/preloader.gif") 0 0 no-repeat;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 0px 0 -5px 0;
}

/* line 54, shell.scss */
#ngplus-overlay-container,
.ngplus-overlay-background {
  top: 0px;
  left: 0px;
  position: absolute;
  border-radius: 0 0px 8px 8px;
  z-index: 99;
  height: 100%;
  width: 100%;
}

/* line 64, shell.scss */
.ngplus-overlay-background {
  background-color: #fbfbfb;
  opacity: 0.8;
}

/* line 68, shell.scss */
.ngplus-overlay-content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0 !important;
  z-index: 10000;
  text-align: center;
  padding: 0;
}
/* line 77, shell.scss */
.ngplus-overlay-content .loading {
  padding-left: 230px;
}

/* line 81, shell.scss */
.page-spinner-message {
  text-align: center;
  font-size: 400%;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-weight: normal;
  -webkit-text-shadow: 2px 2px #000000;
  text-shadow: 2px 2px #000000;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  text-decoration: none;
  color: #F58A00;
  padding: 0;
}

/* line 94, shell.scss */
.page-spinner-message.page-spinner-message-subtle {
  margin: 30% auto 0 auto;
  font-size: 200%;
}

/* line 98, shell.scss */
.overlay-message {
  font-size: 200%;
}

/* line 101, shell.scss */
.spinner {
  margin: 20% auto 0 auto;
  left: auto;
  top: auto !important;
}

/*#region Angular ng-include, ng-view, ng-repeat shuffle animations*/
/* line 108, shell.scss */
.shuffle-animation.ng-enter,
.shuffle-animation.ng-leave {
  position: relative;
}

/* line 112, shell.scss */
.shuffle-animation.ng-enter {
  -moz-transition: ease-out all 0.3s 0.4s;
  -o-transition: ease-out all 0.3s 0.4s;
  -webkit-transition: ease-out all 0.3s 0.4s;
  transition: ease-out all 0.3s 0.4s;
  left: 2em;
  opacity: 0;
}

/* line 120, shell.scss */
.shuffle-animation.ng-enter.ng-enter-active {
  left: 0;
  opacity: 1;
}

/* line 124, shell.scss */
.shuffle-animation.ng-leave {
  -moz-transition: 0.3s ease-out all;
  -o-transition: 0.3s ease-out all;
  -webkit-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
  left: 0;
  opacity: 1;
}

/* line 132, shell.scss */
.shuffle-animation.ng-leave.ng-leave-active {
  left: 2em;
  opacity: 0;
}

/*#region Angular ng-show dissolve animation */
/* line 138, shell.scss */
.dissolve-animation.ng-hide-remove,
.dissolve-animation.ng-hide-add {
  position: fixed !important;
  display: inline !important;
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

/* line 147, shell.scss */
.dissolve-animation.ng-hide-remove.ng-hide-remove-active,
.dissolve-animation.ng-hide-add {
  opacity: 1;
}

/* line 151, shell.scss */
.dissolve-animation.ng-hide-add.ng-hide-add-active,
.dissolve-animation.ng-hide-remove {
  opacity: 0;
}

/*#region toastr */
/* line 156, shell.scss */
#toast-container.toast-top-full-width > div, #toast-container.toast-bottom-full-width > div {
  margin: 4px auto;
}

/*# sourceMappingURL=shell.css.map */
