/**
 * titlebar directive styles
 */
/* line 6, titlebar.scss */
#titlebar {
  padding: 0 3px;
  border-bottom: 0px solid #e6edf4;
  background-color: #FFFFFF;
  position: fixed;
  width: 100%;
  margin: 0;
  top: 0;
  z-index: 99999;
  height: 24px;
  border-radius: 5px 5px 0 0;
}
/* line 19, titlebar.scss */
#titlebar .titlebar-stoplight {
  float: left;
}
/* line 23, titlebar.scss */
#titlebar .titlebar-stoplight .windows-minimize,
#titlebar .titlebar-stoplight .windows-close,
#titlebar .titlebar-stoplight .windows-toggle-fullscreen {
  -webkit-app-region: no-drag;
  outline: none;
  outline-offset: 0;
}
/* line 30, titlebar.scss */
#titlebar .titlebar-stoplight .windows-minimize {
  padding: 5px 5px 0 5px;
  border: none;
  color: #337ab7;
  background: none;
}
/* line 37, titlebar.scss */
#titlebar .titlebar-stoplight .windows-minimize:hover {
  color: #23527c;
}
/* line 40, titlebar.scss */
#titlebar .titlebar-stoplight .windows-close {
  border-radius: 0px;
  padding-top: 1px;
}
/* line 46, titlebar.scss */
#titlebar .titlebar-stoplight .windows-toggle-fullscreen {
  border: none;
  color: #337ab7;
  background: none;
}
/* line 51, titlebar.scss */
#titlebar .titlebar-stoplight .windows-toggle-fullscreen:hover {
  color: #23527c;
}
/* line 55, titlebar.scss */
#titlebar .titlebar-stoplight .titlebar-close,
#titlebar .titlebar-stoplight .titlebar-minimize,
#titlebar .titlebar-stoplight .titlebar-fullscreen {
  position: relative;
  float: left;
  margin: 6px 4px;
  background-repeat: no-repeat;
  background-image: url("../assets/images/stoplight.png");
  background-size: auto 12px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  border: none;
  -webkit-app-region: no-drag;
  cursor: pointer;
  outline: none;
  outline-offset: 0;
}
/* line 73, titlebar.scss */
#titlebar .titlebar-stoplight .titlebar-close:hover {
  background-position: -26px 0;
}
/* line 77, titlebar.scss */
#titlebar .titlebar-stoplight .titlebar-minimize:hover {
  background-position: 0 0;
}
/* line 81, titlebar.scss */
#titlebar .titlebar-stoplight .titlebar-fullscreen:hover {
  background-position: -13px 0;
}

/* line 94, titlebar.scss */
#titlebar.win32 .titlebar-stoplight {
  padding: 0px 4px 0 0;
  float: right;
}

/* line 100, titlebar.scss */
#titlebar.webkit-draggable {
  -webkit-app-region: drag;
}

/* line 104, titlebar.scss */
#titlebar:after,
.titlebar-stoplight:after {
  content: ' ';
  display: table;
  clear: both;
}

/* line 111, titlebar.scss */
#titlebar.alt .titlebar-stoplight:hover .titlebar-close {
  background-position: -104px 0;
}

/* line 115, titlebar.scss */
#titlebar.alt .titlebar-stoplight:hover .titlebar-minimize {
  background-position: -78px 0;
}

/* line 119, titlebar.scss */
#titlebar.alt .titlebar-stoplight:hover .titlebar-fullscreen {
  background-position: -91px 0;
}

/* line 125, titlebar.scss */
.titlebar-close {
  position: relative;
  margin-left: 6px;
  background-position: -65px 0;
}

/* line 131, titlebar.scss */
.titlebar-fullscreen {
  position: relative;
  background-position: -52px 0;
}

/* line 136, titlebar.scss */
.titlebar-minimize {
  position: relative;
  background-position: -39px 0;
}

/* line 141, titlebar.scss */
.titlebar-close:active::after,
.titlebar-minimize:active::after,
.titlebar-fullscreen:active::after,
.windows-close:active::after,
.windows-minimize:active::after,
.windows-toggle-fullscreen:active::after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
}

/*# sourceMappingURL=titlebar.css.map */
