/* Roboto Black */
@font-face {
    font-family: 'Roboto Black';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'), url('../assets/fonts/Roboto-Black-webfont.eot');
    src: local('Roboto Black'), local('Roboto-Black'), url('../assets/fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Roboto-Black-webfont.woff') format('woff'),
        url('../assets/fonts/Roboto-Black-webfont.ttf')  format('truetype'),
        url('../assets/fonts/Roboto-Black-webfont.svg#svgRoboto') format('svg');
}
/* Roboto Black Italic */
@font-face {
    font-family: 'Roboto Black Italic';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black Italic'), local('Roboto-Black-Italic'), url('../assets/fonts/Roboto-BlackItalic-webfont.eot');
    src: local('Roboto Black Italic'), local('Roboto-Black-Italic'), url('../assets/fonts/Roboto-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Roboto-BlackItalic-webfont.woff') format('woff'),
        url('../assets/fonts/Roboto-BlackItalic-webfont.ttf')  format('truetype'),
        url('../assets/fonts/Roboto-BlackItalic-webfont.svg#svgRoboto') format('svg');
}
/* Roboto Bold Condensed */
@font-face {
    font-family: 'Roboto Bold Condensed';
    font-style: normal;
    font-weight: 800;
    src: local('Roboto Bold Condensed'), local('Roboto-Bold-Condensed'), url('../assets/fonts/Roboto-BoldCondensed-webfont.eot');
    src: local('Roboto Bold Condensed'), local('Roboto-Bold-Condensed'), url('../assets/fonts/Roboto-BoldCondensed-webfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Roboto-BoldCondensed-webfont.woff') format('woff'),
        url('../assets/fonts/Roboto-BoldCondensed-webfont.ttf')  format('truetype'),
        url('../assets/fonts/Roboto-BoldCondensed-webfont.svg#svgRoboto') format('svg');
}
/* Roboto Bold Condensed Italic */
@font-face {
    font-family: 'Roboto Bold Condensed Italic';
    font-style: normal;
    font-weight: 800;
    src: local('Roboto Bold Condensed Italic'), local('Roboto-Bold-Condensed-Italic'), url('../assets/fonts/Roboto-BoldCondensedItalic-webfont.eot');
    src: local('Roboto Bold Condensed Italic'), local('Roboto-Bold-Condensed-Italic'), url('../assets/fonts/Roboto-BoldCondensedItalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Roboto-BoldCondensedItalic-webfont.woff') format('woff'),
        url('../assets/fonts/Roboto-BoldCondensedItalic-webfont.ttf')  format('truetype'),
        url('../assets/fonts/Roboto-BoldCondensedItalic-webfont.svg#svgRoboto') format('svg');
}
/* Roboto Bold */
@font-face {
    font-family: 'Roboto Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../assets/fonts/Roboto-Bold-webfont.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../assets/fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Roboto-Bold-webfont.woff') format('woff'),
        url('../assets/fonts/Roboto-Bold-webfont.ttf')  format('truetype'),
        url('../assets/fonts/Roboto-Bold-webfont.svg#svgRoboto') format('svg');
}
/* Roboto Bold Italic */
@font-face {
    font-family: 'Roboto Bold Italic';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold Italic'), local('Roboto Bold Italic'), url('../assets/fonts/Roboto-BoldItalic-webfont.eot');
    src: local('Roboto Bold Italic'), local('Roboto Bold Italic'), url('../assets/fonts/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Roboto-BoldItalic-webfont.woff') format('woff'),
        url('../assets/fonts/Roboto-BoldItalic-webfont.ttf')  format('truetype'),
        url('../assets/fonts/Roboto-BoldItalic-webfont.svg#svgRoboto') format('svg');
}
/* Roboto Condensed */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 800;
    src: local('Roboto Condensed'), local('Roboto-Condensed'), url('../assets/fonts/Roboto-Condensed-webfont.eot');
    src: local('Roboto Condensed'), local('Roboto-Condensed'), url('../assets/fonts/Roboto-Condensed-webfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Roboto-Condensed-webfont.woff') format('woff'),
        url('../assets/fonts/Roboto-Condensed-webfont.ttf')  format('truetype'),
        url('../assets/fonts/Roboto-Condensed-webfont.svg#svgRoboto') format('svg');
}
/* Roboto Condensed Italic */
@font-face {
    font-family: 'Roboto Condensed Italic';
    font-style: normal;
    font-weight: 800;
    src: local('Roboto Condensed Italic'), local('Roboto-Condensed-Italic'), url('../assets/fonts/Roboto-CondensedItalic-webfont.eot');
    src: local('Roboto Condensed Italic'), local('Roboto-Condensed-Italic'), url('../assets/fonts/Roboto-CondensedItalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Roboto-CondensedItalic-webfont.woff') format('woff'),
        url('../assets/fonts/Roboto-CondensedItalic-webfont.ttf')  format('truetype'),
        url('../assets/fonts/Roboto-CondensedItalic-webfont.svg#svgRoboto') format('svg');
}
/* Roboto Regular */
@font-face {
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'), local('Roboto-Regular'), url('../assets/fonts/Roboto-Regular-webfont.eot');
    src: local('Roboto Regular'), local('Roboto-Regular'), url('../assets/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Roboto-Regular-webfont.woff') format('woff'),
        url('../assets/fonts/Roboto-Regular-webfont.ttf')  format('truetype'),
        url('../assets/fonts/Roboto-Regular-webfont.svg#svgRoboto') format('svg');
}
/* Roboto Italic */
@font-face {
    font-family: 'Roboto Italic';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'), url('../assets/fonts/Roboto-Italic-webfont.eot');
    src: local('Roboto Italic'), local('Roboto-Italic'), url('../assets/fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Roboto-Italic-webfont.woff') format('woff'),
        url('../assets/fonts/Roboto-Italic-webfont.ttf')  format('truetype'),
        url('../assets/fonts/Roboto-Italic-webfont.svg#svgRoboto') format('svg');
}
/* Roboto Light */
@font-face {
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto Light'), url('../assets/fonts/Roboto-Light-webfont.eot');
    src: local('Roboto Light'), local('Roboto Light'), url('../assets/fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Roboto-Light-webfont.woff') format('woff'),
        url('../assets/fonts/Roboto-Light-webfont.ttf')  format('truetype'),
        url('../assets/fonts/Roboto-Light-webfont.svg#svgRoboto') format('svg');
}
/* Roboto Light Italic */
@font-face {
    font-family: 'Roboto Light Italic';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-Light-Italic'), url('../assets/fonts/Roboto-LightItalic-webfont.eot');
    src: local('Roboto Light Italic'), local('Roboto-Light-Italic'), url('../assets/fonts/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Roboto-LightItalic-webfont.woff') format('woff'),
        url('../assets/fonts/Roboto-LightItalic-webfont.ttf')  format('truetype'),
        url('../assets/fonts/Roboto-LightItalic-webfont.svg#svgRoboto') format('svg');
}
/* Roboto Medium */
@font-face {
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../assets/fonts/Roboto-Medium-webfont.eot');
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../assets/fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Roboto-Medium-webfont.woff') format('woff'),
        url('../assets/fonts/Roboto-Medium-webfont.ttf')  format('truetype'),
        url('../assets/fonts/Roboto-Medium-webfont.svg#svgRoboto') format('svg');
}
/* Roboto Medium Italic */
@font-face {
    font-family: 'Roboto Medium Italic';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium Italic'), local('Roboto-Medium-Italic'), url('../assets/fonts/Roboto-MediumItalic-webfont.eot');
    src: local('Roboto Medium Italic'), local('Roboto-Medium-Italic'), url('../assets/fonts/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Roboto-MediumItalic-webfont.woff') format('woff'),
        url('../assets/fonts/Roboto-MediumItalic-webfont.ttf')  format('truetype'),
        url('../assets/fonts/Roboto-MediumItalic-webfont.svg#svgRoboto') format('svg');
}
/* Roboto Thin */
@font-face {
    font-family: 'Roboto Thin';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto Thin'), url('../assets/fonts/Roboto-Thin-webfont.eot');
    src: local('Roboto Thin'), local('Roboto Thin'), url('../assets/fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Roboto-Thin-webfont.woff') format('woff'),
        url('../assets/fonts/Roboto-Thin-webfont.ttf')  format('truetype'),
        url('../assets/fonts/Roboto-Thin-webfont.svg#svgRoboto') format('svg');
}
/* Roboto Thin Italic */
@font-face {
    font-family: 'Roboto Thin Italic';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin Italic'), local('Roboto-Thin-Italic'), url('../assets/fonts/Roboto-ThinItalic-webfont.eot');
    src: local('Roboto Thin Italic'), local('Roboto-Thin-Italic'), url('../assets/fonts/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Roboto-ThinItalic-webfont.woff') format('woff'),
        url('../assets/fonts/Roboto-ThinItalic-webfont.ttf')  format('truetype'),
        url('../assets/fonts/Roboto-ThinItalic-webfont.svg#svgRoboto') format('svg');
}

/**
 * Font Class
 */
.roboto-black {
    font-family: 'Roboto Black', Helvetica, sans-serif;
}
.roboto-black-italic {
    font-family: 'Roboto Black Italic', Helvetica, sans-serif;
}
.roboto-bold-condensed {
    font-family: 'Roboto Bold Condensed', Helvetica, sans-serif;
}
.roboto-bold-condensed-italic {
    font-family: 'Roboto Bold Condensed Italic', Helvetica, sans-serif;
}
.roboto-bold {
    font-family: 'Roboto Bold', Helvetica, sans-serif;
}
.roboto-bold-italic {
    font-family: 'Roboto Bold Italic', Helvetica, sans-serif;
}
.roboto-condensed {
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
}
.roboto-medium {
    font-family: 'Roboto Medium', Helvetica, sans-serif;
}
.roboto-medium-italic {
    font-family: 'Roboto Medium Italic', Helvetica, sans-serif;
}
.roboto-condensed-italic {
    font-family: 'Roboto Condensed Italic', Helvetica, sans-serif;
}
.roboto-regular {
    font-family: 'Roboto Regular', Helvetica, sans-serif;
}
.roboto-italic {
    font-family: 'Roboto Italic', Helvetica, sans-serif;
}
.roboto-light {
    font-family: 'Roboto Light', Helvetica, sans-serif;
}
.roboto-light-italic {
    font-family: 'Roboto Light Italic', Helvetica, sans-serif;
}
.roboto-thin {
    font-family: 'Roboto Thin', Helvetica, sans-serif;
}
.roboto-thin-italic {
    font-family: 'Roboto Thin Italic', Helvetica, sans-serif;
}