// bower:scss
@import "../../../../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
// endbower
@import '_fonts.scss';

// General
html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    border-radius: 5px;
}
body {
    padding-top: 75px;
}

// General: directives
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

// Page: loading.html
body#loadingPage {
    padding-top:0;
    #loading {
        z-index: 99998;
        width: 100%;
        top: 35%;
        position: absolute;
        text-align: center;
        #nodejsInstall {
            display:none;
        }
        #nodejsInstall > h1 {
            font-family: 'Helvetica Neue', Helvetica, sans-serif;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            margin: 0;
            padding: 0;
        }
        #nodejsInstall > h1 img{
            margin-top: -6px;
        }
        .preloader-text {
            font-family: 'Roboto Bold Condensed', Helvetica, sans-serif;
            font-size: 16px;
            text-align: center;
        }
        .preloader {
            background: none;
            width: 100px;
            height: 100px;
            display: inline-block;
            margin: 0;
        }
    }
}
